############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Python Bytecode
############################
__pycache__/
*.py[cod]
*$py.class

############################
# Virtual Environments
############################
.env
.venv/
venv/
ENV/
env/

############################
# Jupyter
############################
.ipynb_checkpoints/

############################
# Build / Packaging
############################
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

############################
# Testing / Coverage
############################
.pytest_cache/
.coverage
.coverage.*
htmlcov/

############################
# Logs
############################
*.log

############################
# Database / Local Storage
############################
*.db
*.sqlite

############################
# IDE / Editor
############################
.vscode/
.idea/

############################
# Environment Config
############################
.env.*
!.env.example
